<div class="col-lg-12 mt-3">
    <!--Page title-->
    <h1>{{ page_title }}</h1>
    <hr />

    <!--Threads list-->
    <ul class="list-group list-topics">
        <li class="list-group-item" *ngFor="let topic of topics" >
            <img class="avatar float-left mr-3" src="{{ url + 'avatar/' + topic.user.image }}" alt="avatar" *ngIf="topic.user.image"/>
            <img class="avatar float-left mr-3" src="https://st2.depositphotos.com/1006318/5909/v/450/depositphotos_59095205-stock-illustration-businessman-profile-icon.jpg" alt="avatar" *ngIf="!topic.user.image"/>
            <a [routerLink]="['/topic/', topic._id]">
                <h4>{{ topic.title }}</h4>
            </a>
            <span class="badge badge-primary">
                {{ topic.user.name + ' ' + topic.user.surname }}
            </span>
            <span class="badge badge-light ml-2">
                {{ topic.date | amLocale: 'es' | amTimeAgo }}
            </span>
            <a [routerLink]="['/topic/', topic._id]" class="btn btn-sm btn-success float-right">Leer</a>
        </li>
    </ul>

</div>